<%- include("template/header" ) %>

    <div class="container-sm my-container">

        <h1 class="text-center">Create a new User</h1>

        <form action="/newUser" class="my-2" method="POST">
            <div class="mb-3">
                <label for="firstNameInput" class="form-label"><h5 class="h5">First Name</h5></label>
                <input type="text" placeholder="Write your first name" class="form-control" name="firstName" id="firstNameInput" required>
            </div>
            <div class="mb-3">
                <label for="lastNameInput" class="form-label"><h5 class="h5">Last Name</h5></label>
                <input type="text" placeholder="Write your last name" class="form-control" name="lastName" id="lastNameInput" required>
            </div>
            <div class="mb-3">
                <label for="idNumberInput" class="form-label"><h5 class="h5">identification Number</h5></label>
                <input type="number" placeholder="Write your identification number" class="form-control" name="idNumber" id="idNumberInput" required>
            </div>
            <div class="mb-3">
                <label for="ageInput" class="form-label"><h5 class="h5">Age</h5></label>
                <input type="number" placeholder="Write your age" class="form-control" name="age" id="ageInput" required>
            </div>
            <div class="mb-3">
                <label for="phoneNumberInput" class="form-label"><h5 class="h5">Phone Number</h5></label>
                <input type="number" placeholder="Write your phone number" class="form-control" name="phoneNumber" id="phoneNumberInput" required>
            </div>
            <button type="submit" class="btn btn-dark btn-lg">Submit</button>
        </form>

    </div>


<%- include("template/footer") %>