<%- include("template/header" ) %>

    <div class="container-sm my-container">
        <h1>You have an Error in your data</h1>

        <h3><%= error %></h3>
    </div>


<%- include("template/footer") %>